<h1><%= gallery.title %></h1>
<% if !gallery.images %>
    This gallery is empty. Fill it with your best slow loris photos!
<% else %>
  <% gallery.images.each do |i| %>
    <div class="col-lg-3 text-center">
      <%= link_to i, class: 'thumbnail' do %>
        <%= simple_format i.title, class: 'caption' %>
        <%= image_tag i.file.url(:thumb), class: 'img-responsive' %>
        <%= simple_format i.caption, class: 'caption' %>
      <% end %>
    </div>
  <% end %>
  <%= link_to '/images/new' do %>
    <button class="btn btn-primary">Add</button>
  <% end %>
  <%= link_to "#share_modal", title: 'Share Gallery', class: 'btn btn-info btn-sm', data: {toggle: 'modal'} do%>
     <i class="glyphicon glyphicon-share"></i>&nbsp;Share Gallery
  <% end %>

  <%= render 'share_modal' %>

<% end %>
